In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('job-data.csv')
df.head(5)

,Unnamed: 0,Company name,Job title,Working model,Job Type,Required Experience,Salary
0,0,Celloscope Ltd,NaN,On Site,Full time,Fresher,18-20K (Negotiable)
1,1,Streamline Technologies,NaN,Remote,Full time,More than 2 years,30-70k BDT
2,2,ADVENTURE DHAKA LIMITED,NaN,On Site,Full time,More than 2 years,800000-150000
3,3,Inument Solutions Limited,NaN,On Site,Full time,More than 2 years,120k-280k
4,4,Padma,Embedded Engineer,On Site,Full time,More than 2 years,45k - 50k BDT

In [3]:
df['Job title'].value_counts()

Job title
Software Engineer                    9
Flutter Developer                    4
DevOps Engineer                      4
WordPress Developer                  3
Full Stack Web Developer             3
                                    ..
Software Engineer (Ruby on Rails)    1
Software Engineer (OutSystems)       1
Software Requirements Engineer       1
Software Engineer (PHP)              1
Senior Full Stack Developer          1
Name: count, Length: 203, dtype: int64